* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

body.forgot-username-page {
    overflow-y: hidden;
    background-color: #ffffff;
}

.forgot-username-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-username-card {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
}

.forgot-username-title {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333333;
    font-weight: 900;
    line-height: 1;
}

.forgot-username-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #333333;
}

.forgot-username-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    color: #333333;
    background-color: #ffffff;
    transition: border-color 0.2s ease;
    font-family: 'Montserrat', sans-serif;
}

.description {
    color: #333333;
    text-align: center;
}

.forgot-username-input:focus {
    border-color: #4a90e2;
}

.forgot-username-card .forgot-username-button {
    width: 100%;
    padding: 15px;
    background-color: #333333;
    color: white;
    border-radius: 8px;

    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
}
